.dashboard {
  width: 100%;

  h2 {
    color: white;
    font-weight: 300;
  }

  h3 {
    color: white;
    font: 400;
  }
  h4 {
    color: $clr-blue03;
    font-size: 0.8rem;
  }
  p {
    color: $clr-blue03;
  }
}
@media screen and (min-width: 768px) {
  .dashboard {
    width: 90%;
    height: 50%;
    margin: auto;
    padding-top: 20%;
    display: flex;
    .time {
      width: 70%;
      height: 70%;
    }
  }
}
